textarea[id=cvc],
textarea[id=cardNum]{
    resize: none
}

h1 {
    text-align: center;
}

legend {
    text-align: center;
    font-weight: bold;
}

fieldset {
    background-color: #FFF;
	border-color: #000;
	border-style: solid;
    border-radius: 6px;
	margin-bottom: 25px;
	padding: 10px;
}

body {
	color: #000;
	font-family: "Roberto", sans-serif;
	font-style: normal;
	font-size: 1rem; 
	margin: 0;
}

.required-asterisk {
    color: red;
    font-weight: bold;
	margin-left: 2px;
}

::placeholder {
    text-align: center;
}

button {
    background-color: FFF;
	border: 1px solid #000;
	border-radius: 6px;
	font-size: 1rem;
	padding: 10px 30px;
}


button:hover {
    background-color: #cacaca
}

#wrapper {
    margin: 25px;
}
/*TODO:
    Add background
    Add grids, it looks ugly right now
    Style the submit button, that is fucking atrocious
    Make it all look fucking good*/